@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #111111;
}

.titulo{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: -20rem;
  text-shadow: 2px 2px 1px #d4a470;
  color: #f3f3f3;
}

.container{
  width: 40%;
}

.input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.input .form{
  background: #f3f3f3;
  border: none;
  height: 50px;
  border-radius: 5px;
  width: 90%;
  padding: 0px 20px;
  font-size: 16px;
  color: #d4a470;
  box-shadow: 3px 3px 1px #d4a470;
}

.input .form:focus{
  outline: none;
}

.add .material-icons{
  background: #d4a470;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #f3f3f3;
  margin-left: 15px;
  cursor: pointer;
  font-size: 30px;
}

.lista-tarefa li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #d4a470;
  background: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 15px;
  box-shadow: 3px 3px 1px #d4a470;
}

.cont-esquerd input{
  display: none;
  cursor: pointer;
}

.cont-esquerd label{
  position: relative;
  cursor: pointer;
}

.cont-esquerd label:before{
  content: '';
  padding: 11px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
  background: #d4a47070;
  border-radius: 3px;
  color: #d4a470;
}

.cont-esquerd input:checked + label:before{
  background: #d4a470;
  color: #f3f3f3;
}

.cont-esquerd input:checked + label:after{
  content: '';
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 8px;
  width: 5px;
  height: 12px;
  border: solid #f3f3f3;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
}

.remove{
  color: #d4a470;
  cursor: pointer;
  line-height: 1;
  transform: translateX(48px);
  transform: .5s;
}

.remove.active{
  transform: translateX(0px);
  transform: .5s;
}