@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #131319;
}

.entrada{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 13rem;
    padding: 50px 50px;
    color: #fff;
    text-shadow: 2px 2px 1px #FF001e;
}

.containers{
    display: flex;
    justify-content: center;
    
}

.containers div{
    margin: 0px 10px;
}

.container{
    display: grid;
    background-color: #fff;
    width: 15rem;
    height: 20rem;
    border-radius: 5px;
    box-shadow: 5px 5px 1px #FF001e;
}

.container3{

    display: grid;
    background-color: #fff;
    width: 15rem;
    height: 20rem;
    border-radius: 5px;
    box-shadow: 5px 5px 1px #FF001e;
}

.container2{

    display: grid;
    background-color: #fff;
    width: 15rem;
    height: 20rem;
    border-radius: 5px;
    box-shadow: 5px 5px 1px #FF001e;
}

div img{
    display: block;
    margin-left: 28%;
    margin-top: 50px;
    
}

.texto-papel{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 50px;
}

.escolha1{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 1rem;
    margin-left: 16%;
    border: none;
    font-size: 18px;
    background-color: #ff001e;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.escolha2{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 1rem;
    margin-left: 15%;
    border: none;
    font-size: 18px;
    background-color: #ff001e;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

.escolha3{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 1rem;
    margin-left: 12%;
    border: none;
    font-size: 18px;
    background-color: #ff001e;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}


.escolha1:hover,
.escolha2:hover,
.escolha3:hover{
    background-color: #131319;
    box-shadow: 5px 5px 1px #FF001e;
}

.Status{
    display: flex;
    flex-direction: column;
    margin-top: -19.5rem;
    margin-left: 5%;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 1px #ff001e;
}

.Partidas{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 5%;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 1px #ff001e;
}

.Derrotas{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 150px;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 1px #ff001e;
}

.Vitorias{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 158px;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 1px #ff001e;
}



input{
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin-left: 195px;
    margin-top: 5px;
    box-shadow: 5px 5px 1px #FF001e;
}

